body {
    margin: 0px;
}
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(16, 1fr);
    color: aliceblue;
    font-family: sans-serif;
    text-align: center;

    .box1 {
        grid-area: 1/1/9/17;
        background-color: blue;
    }
    .box2 {
        grid-area: 1/17/17/33;
        background-color: rgb(255, 210, 62);
    }
    .box3 {
        grid-area: 9/1/13/9;
        background-color: aqua;
    }
    .box4 {
        grid-area: 9/9/17/17;
        background-color: red;
    }
    .box5 {
        grid-area: 13/1/15/5;
        background-color: yellow;
    }
    .box6 {
        grid-area: 13/5/17/9;
        background-color: green;
    }
    .box7 {
        grid-area: 15/1/16/3;
        background-color: black;
    }
    .box8 {
        grid-area: 15/3/17/5;
        background-color: blue;
    }
    .box9 {
        grid-area: 16/1/17/2;
        background-color: yellow;
    }
    .box10 {
        grid-area: 16/2/17/3;
        background-color: red;
    }
}

.title {
    width: 100%;
    font-size: 30px;
    font-weight: 500;
}
.desc {
    width: 100%;
}
.container > * {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
